.home_log_out {

  & button {
    background-color: transparent;
    border: none;
    color: $color_gray;
    font-size: 2rem;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    border-radius: 50%;
    padding: 2.5rem;

  }

  & button:hover {
    color: white;
    background-color: $color_darkblue2;

  }
}

.sign_x {
  padding: 1rem 2rem;
  border: 1px solid $color_gray;
  box-shadow: 0 0 .5rem $color_gray;
}
