.storyroom_newtail {
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}

.storyroom_edit_icon {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  color: #333;

  & a {
    position: relative;
  }

  & button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 56px;
    height: 56px;

    & i {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  & i {
    font-size: 1.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 2rem;
    transition: all .3s ease-in-out;

  }

  & i:hover {
    background-color: #333;
    color: white;
  }
}

.storyroom_messages{
  margin-bottom: 5rem;
}

.storyroom_lore {

  & button {
    border: 1px solid transparent;
    background-color: transparent;
  }


  & i {
    font-size: 1.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 2rem;
    transition: all .3s ease-in-out;
  }

  & i:hover {
    background-color: #333;
    color: white;
  }


  & #add_user i {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 4rem;
    border: 1px solid transparent;
  }

  & .character_info {
    position: relative;

    & #owner_crown {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      color: #f1c40f;
      padding: 0;
    }

    & #owner_crown {
      background-color: transparent;
      color: #f1c40f;
    }
  }

  & .manage_character_btn {
    display: flex;
    justify-content: space-around;
  }

}
