.storyroom_index {

  & .owner  {
    display: none;
  }

  & .groups {
    display: none;
  }

  & .selected {
    display: block;
  }
}

.storyroom_index_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;

  & button {
    background-color: transparent;
    border: none;
    color: $color_gray;
    font-size: 2rem;
    transition: ease-in-out 0.3s;
    color: $color_gray;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  }

  & button.selected {
    color: white;
    background-color: $color_darkblue2;
  }

  & button:hover {
    color: white;
    background-color: $color_darkblue2;
  }
}
