

<% @storyrooms.each do |storyroom| %>
  <% if storyroom.user == current_user %>
    <p><%= storyroom.universe.title %> - <%= storyroom.title %> <%= link_to 'more infos', storyroom_path(storyroom) %></p>
  <% end %>
<% end %>
