
<% @storyrooms.each do |storyroom| %>
  <% if storyroom.user == current_user %>
    <%= link_to storyroom_path(storyroom), class: "storyroom_card" do %>
      <p><%= storyroom.universe.title %> - <%= storyroom.title %></p>
    <% end %>
  <% end %>
<% end %>
