<h1>Storyrooms#index</h1>
<p>Find me in app/views/storyrooms/index.html.erb</p>

<% @storyrooms.each do |storyroom| %>
  <p><%= storyroom.universe.title %> - <%= storyroom.title %> <%= link_to 'more infos', storyroom_path(storyroom) %></p>
<% end %>
