<div class="universes_section">
  <h1>Les univers disponibles</h1>
  <% @universes.each do |universe| %>
    <%= link_to universe_path(universe), class: "universe_card" do %>
      <h2><%= universe.title %></h2>
      <p><%= universe.description[0..300] %>...</p>
      <box-icon name='info-circle' ></box-icon>
    <% end %>
  <% end %>
</div>
