.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5.5rem;
  right: 1rem;

  background-color: $color_darkblue1;
  color: $color_gray;
  width: 60px;
  height: 60px;
  border: 1px solid $color_gray;
  border-radius: 50%;
  box-shadow: 0 0 1rem $color_darkblue2;
  transition: background-color 0.3s;
  text-decoration: none;

  & i {
    font-size: 1.5rem;

  }

  animation: bounce 5s ease infinite;
  z-index: 102;
}

@keyframes bounce{
     from {
      bottom: 5.5rem;
      right: 1rem;
    }
     50%  {
      bottom: 4rem;
      right: 1rem;
    }
     to   {
      bottom: 5.5rem;
      right: 1rem;
    }
}

.floating-button:hover {
  background-color: $color_darkblue2;
  color: white;
}

.floating-button box-icon {
  width: 24px;
  height: 24px;
}
