.storyroom_storylore {
  display: none;
}

.storyroom_story {
  display: none;
}

.storyroom_story.selected {
  display: block;
}

.storyroom_lore {
  display: none;
}

.storyroom_lore.selected {
  display: block;
}
