


.message_bar_container {
  position: fixed;
  bottom: 4.5rem;
  width: 100%;
  border-radius: .5rem .5rem 0rem 0rem;
  transition: ease-in-out 0.3s;
}

.focused {
  bottom: 0rem;
}

.message_bar {
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem 0;
  width: 363px;

  & .division_bar {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 2px;
    background-color: #333;
    border-radius: 1rem;
  }
}

.message_typing {
  width: 100%;
  text-align: left;
  margin-left: 10px;

  & input[type="text"] {
    width: 270px;
    height: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #333;
  }

  & button[type="submit"] {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2rem;
    background-color: transparent;
    border: 1px solid transparent;
  }

  & i {
    font-size: 1.5rem;
    color: #333;
  }


}


.message_typing_edit {
  width: 100%;
  text-align: center;
}

#messageFieldEdit {
  width: 80%;
  height: 5rem;
  border-radius: .5rem;
  border: 1px solid #333;
}



.message_current_user {
  border-bottom: 1px solid #333;
  border-radius: .5rem .5rem 0rem .5rem;
  margin: 1rem 4rem;

  margin-right: 1rem;

  position: relative;

  & p {
    margin: .5rem;
  }

  & i {
    position: absolute;

    position: absolute;
    top: 1rem;
    left: -2.5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #333;

  }
}

.message_other_user {
  border-radius: .5rem .5rem .5rem 0rem;
  margin: 1rem;
  margin-left: 1rem;
  border-bottom: 1px solid #333;
  width: 80%;


  position: relative;

  & p {
    margin: .5rem;
  }
}

.messages_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: .5rem;

  & p {
    font-size: 11px;
    margin: .5rem;
  }

  & .character_user_picture {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #333;

    background-position: center;
    background-size: cover;

  }
}
