

.event_announcement {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  position: relative;
  color: #333;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);

  & i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }

}

.event_counter {
  position: absolute;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 2rem;

  & p {
    position: absolute;
    top: -88%;
    color: #333;
    z-index: 1;
    font-weight: bold;

  }

  & button {
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 1px solid transparent;

  }

  & i {
    position: absolute;
    color: #333;
    font-size: 1.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 2rem;
    padding: .5rem;
  }
}
