.topbar {
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 4rem;
  border-bottom: 1px solid #333;
  z-index: 100;
  font-size: 1.5rem;

  & a {
    color: #333;
    text-decoration: none;
  }

  & i {
    font-size: 1.5rem;
  }

  & p {
    margin: 0;
  }
}

.topbar_back_button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  padding: 0 1.5rem;
  color: #333;

  & i {
    font-size: 2rem;
  }
}
