.universe_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 26rem;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;

  position: relative;

  & h2 {
   text-align: left;
   color: #ffffff;
   font-size: 24px;
   margin-bottom: 0;
  }

  & p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 0;
  }

  & box-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }

  & .card_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }

  & .storyroom_universe_btn {
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    & button {
      color: #ffffff;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 1rem;
      padding: .5rem 1rem;
    }

    & .selected {
      color: #ffffff;
      border: 1px solid #ffffff;

    }
  }

}
