.universe_characters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}

.universe_character {
  display: flex;
  background-color: lightgray;
  border-radius: .5rem;
  padding: 1rem;

  & p {
    color: #575757;
    font-size: 16px;
  }

  & .character_img {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    margin-right: 1rem;
    background-image: url("https://cdn.midjourney.com/1ef8d27a-41ff-466a-b737-689829afc2f0/0_1.png");
    background-size: cover;
    background-position: center;
  }

  & .character_description {
    font-size: 16px;
    font-weight: bold;
  }
}
