<nav class="navbar <%= 'hidden' if hidden %>">
    <%= link_to universes_path, class: "navbar_item #{current_page?(universes_path) ? "active" : ""}" do %>
      <i class="fa-solid fa-globe"></i>
      <p>Univers</p>
    <% end %>
    <%= link_to storyrooms_path, class: "navbar_item #{current_page?(storyrooms_path) ? "active" : ""}" do %>
      <i class="fa-solid fa-feather"></i>
      <p>Récits</p>
    <% end %>
    <%= link_to history_index_path, class: "navbar_item #{current_page?(history_index_path) ? "active" : ""}" do %>
      <i class="fa-solid fa-book"></i>
      <p>Historique</p>
    <% end %>
</nav>
