<nav class="topbar">
  <%= link_to'Assembly', root_path %>
  <div class="collapse navbar-collapse">
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</nav>
